<div class="col-lg-10">
    <h3>{{title}}</h3>

    @if (status === 'success') {
    <div class="form-alert form-alert-success">
        Has enviado el mensaje correctamente <a [routerLink]="['messages/sent']">Ver mensajes </a>
    </div>
    }

    @if (status === 'error') {
    <div class="form-alert form-alert-error">
        Error en el envío del mensaje, inténtalo de nuevo
    </div>
    }

    <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
        <p>
            <label>Para:</label>
            <!-- LISTADO SEGUIDORES-->
            @if (follows && follows.length > 0) {
            <select name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
                @for (follow of follows; track follow.followed._id) {
                <option [value]="follow.followed._id">
                    {{follow.followed.name + ' ' + follow.followed.surname + ' (@' + follow.followed.nick + ')' }}
                </option>
                }
            </select>
            } @else {
            <span class="text-muted">No sigues a nadie.</span>
            }
        </p>

        <p>
            <label>Mensajes</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>
            @if (!text.valid && text.touched) {
            <span class="text-danger">El mensaje es requerido</span>
            }
        </p>

        <input type="submit" value="{{title}}">
    </form>

</div>