<div class="col-lg-8 col-lg-offset-2">
    <div class="home-hero">

        <h1 class="h1-strong">Bienvenido a {{title}}</h1>
        <p class="home-text">Esta es la red social de microblogging más rápida del mundo, donde puedes compartir tus
            pensamientos en 280 caracteres o menos. Únete a nuestra comunidad y descubre lo que está sucediendo en el
            mundo
            en tiempo real.</p>
        <div class="home-actions">
            <a href="#" class="home-btn home-btn-primary">Mi perfil</a>
            <a href="#" class="home-btn">Timeline</a>
            <a href="#" class="home-btn">Gente</a>
        </div>
    </div>

</div>