<div class="home-shell">
    <div class="home-hero">

        <h1 class="h1-strong">{{title}}</h1>
        <p class="home-text">Esta es la red social de microblogging más rápida del mundo, donde puedes compartir tus
            pensamientos en 280 caracteres o menos. Únete a nuestra comunidad y descubre lo que está sucediendo en el
            mundo
            en tiempo real.</p>
        <div class="home-actions">
            <a href="/mis-datos" class="home-btn home-btn-primary">Mi perfil</a>
            <a href="/timeline" class="home-btn">Timeline</a>
            <a href="/gente" class="home-btn">Gente</a>
        </div>
    </div>
</div>