/* Cabecera */
.navigation {
    padding: 0px !important;
    ;
}

.navigation .navbar {
    /* background-color: #333; */
    border-radius: 0px !important;

}

.navigation .navbar * {
    color: rgb(51, 51, 51) !important;
}