/*Generales*/
.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active {
    position: relative;
}

.active::after {
    content: "";
    display: block;
    width: 60%;
    margin: 4px auto 0;
    border-bottom: 2px solid #3f0b35;

}


/* Cabecera */
.navigation {
    padding: 0px !important;
    ;
}

.navigation .navbar {
    /* background-color: #333; */
    border-radius: 0px !important;

}

.navigation .navbar * {
    color: rgb(51, 51, 51) !important;
}