<div class="navigation col-lg-12">
  <nav class="navbar navbar-expand-lg app-navbar">
    <div class="container-fluid">
      <a routerLink="/home" class="navbar-brand app-brand">{{title}}</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (hasIdentity) {
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">
            <i class="bi bi-house-door"></i>
            Inicio
          </a>
        </li>
        <li class="nav-item style">
          <a routerLink="/timeline" routerLinkActive="active" class="nav-link">
            <i class="bi bi-clock"></i>
            Timeline
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/gente" routerLinkActive="active" class="nav-link">
            <i class="bi bi-people"></i>
            Gente
          </a>
        </li>
        }
      </ul>
      @if (hasIdentity) {
      <ul class="navbar-nav navbar-right user-nav">
        <li class="avatar">
          <!--Si el usuario tiene una imagen de perfil, mostrarla, de lo contrario mostrar un avatar genérico-->
          @if (identity && identity.image) {
          <img src="{{url + 'get-image-user/' + identity.image}}" alt="">
          }

        </li>
        <li class="nav-item dropdown" [class.show]="isUserMenuOpen">
          <button class="nav-link dropdown-toggle" id="userMenu" type="button" [attr.aria-expanded]="isUserMenuOpen"
            (click)="toggleUserMenu($event)">
            {{ identity.nick }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu" [class.show]="isUserMenuOpen">
            <li>
              <a class="dropdown-item" routerLink="/perfil/{{identity._id}}">
                <span class="bi bi-person"></span>
                Mi perfil
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/mis-datos">
                <span class="bi bi-person-lines-fill"></span>
                Mis datos
              </a>
            </li>
            <li>
              <button class="dropdown-item" type="button" (click)="logout()">
                <span class="bi bi-box-arrow-right"></span>
                Cerrar sesión
              </button>
            </li>
          </ul>
        </li>
      </ul>
      } @else {
      <ul class="navbar-nav navbar-right user-nav">
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
          </a>
        </li>
        <li class="nav-item style">
          <a routerLink="/register" routerLinkActive="active" class="nav-link">
            <i class="bi bi-person-plus"></i>
            Registro
          </a>
        </li>
      </ul>
      }
    </div>
  </nav>
</div>

<router-outlet></router-outlet>