<nav class="messages-sidebar">
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/messages/add">Enviar Mensajes</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/messages/received">Mensajes Recibidos</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/messages/sent">Mensajes Enviados</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/messages/info">Información</a>
        </li>
    </ul>
</nav>